/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
  background-color: #f2f2f2;
  color:#FA5B58;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
a:link {
	text-decoration: none;
}

body {
    padding: 60px 0px;
}


@media (min-width: 768px) {
	.navbar-collapse {
		padding-top: 0px !important;
		padding-right: 0px !important;
	}
	.navbar-collapse form[role="search"] {
		width: 38px;
	}
	.navbar-collapse form[role="search"] button,
	.navbar-collapse form[role="search"] input {
		padding: 15px 12px;
	}
	.navbar-collapse form[role="search"] input {
		padding: 25px 12px;
		font-size: 18pt;
		opacity: 0;
		display: none;
	}
	.navbar-collapse form[role="search"].active {
		width: 100%;
	}
	.navbar-collapse form[role="search"].active button,
	.navbar-collapse form[role="search"].active input {
		display: table-cell;
		opacity: 1;
	}
	.navbar-collapse form[role="search"].active input {
		width: 100%;
	}
}

@media (min-width: 765px) {

  .main{
	position: absolute;
	width: calc(100% - 40px); 
	margin-left: 40px;
	float: right;


  }

  nav.sidebar:hover + .main{
	margin-left: 200px;
  }

  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
	text-align: center;
	width: 100%;
	margin-left: 0px;
  }

  nav.sidebar a{
	padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
	border-top: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav > li{
	border-bottom: 1px #e5e5e5 solid;
  }

  nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
	padding: 0 0px 0 0px;
  }



  nav.sidebar{
	width: 250px;
	height: 100%;
	margin-left: -160px;
	float: left;
	margin-bottom: 0px;
  }

  nav.sidebar li {
	width: 100%;
  }

  nav.sidebar:hover{
	margin-left: 0px;
  }

  .forAnimate{
	opacity: 0;
  }
}

@media (min-width: 1330px) {

  .main{
	width: calc(100% - 200px);
	margin-left: 200px;
  }

  nav.sidebar{
	margin-left: 0px;
	float: left;
  }

  nav.sidebar .forAnimate{
	opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {

  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}


.panel.panel--styled {
    /*background: #F4F2F3;*/
}
.panelTop {
    padding: 15px;
}

.panelBottom {
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
}
.btn-add-to-cart {
    background: #FD5A5B;
    color: #fff;
}
.btn.btn-add-to-cart.focus, .btn.btn-add-to-cart:focus, .btn.btn-add-to-cart:hover  {
    color: #fff;   
    background: #FD7172;
    outline: none;
}
.btn-add-to-cart:active {
    background: #F9494B;
    outline: none;
}


span.itemPrice {
    font-size: 24px;
    color: #FA5B58;
}
span.recomendacoes{
    font-size: 24px;
    color: #FA5B58;	
}



span.glyphicon {
    padding: 5px;
}

.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
        
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}
